
@{
    ViewData["Title"] = "登入";
}

<h1>登入</h1>

<form method="post" action="/Login/isLogin">
    <h3 style="display: inline">請輸入UserName: </h3>
    <input type="text" name="UserName" required />
    <button type="submit" >登入</button>
</form>


